{% extends 'admin/settings/base.html.twig' %}
{% import 'admin/macro/crud.html.twig' as crud %}
{% import 'admin/macro/crud_tables.html.twig' as tables %}
{% import 'admin/macro/crud_filters.html.twig' as filters %}


{% block title %}
	Tarifs
{% endblock %}

{% set title = 'Emplacements' %}
{% set tooltip = 'Tous les utilisateurs avec le rôle administrateur' %}

{% block body %}
	<div class="mb-6 flex items-center justify-between">
		<h2 class="text-title-md font-bold">Tarifs</h2>
		<div {{ stimulus_controller('tabulation') }} data-tabulation-items-value='.crud' class="tabulation">
			<button class="active">Emplacements</button>
			<button class="">Services supplémentaires</button>
			<button class="">Adulte/enfant</button>
			<button class="">Offres</button>
		</div>
	</div>
	{{ crud.basic(title, tables.tarifs('emplacements'), '','', tooltip) }}
{% endblock %}
