{# ! Etape 1 : Durée du séjour #}
<article data-step class="step-content hidden border-2 border-black divide-y-2 divide-black">
	<h2 class="text-2xl text-center font-semibold py-6">Choisissez vos options suplémentaires
		<span></span>
	</h2>
	{# ! Date du séjour #}
	<div class=" py-10 px-[5%]">
		<article class="flex gap-8 justify-between items-center">
			<div>
				<input type="checkbox" name="electricité" id="">
				<label for="electricité">Électricité</label>
			</div>
			<div class=" bg-gray-500 h-0.5 grow"></div>
			<div class="text-[0px]">
				<p>
					<span class="text-lg font-bold">10€</span>
					<span class="text-sm">/personne</span>
					<span class="text-sm">/unité</span>
					<span class="text-sm">/jour</span>
				</p>
			</div>
		</article>


	</div>

</article>
