{# ! Etape 2 : Type d'hébérgement #}
<article data-step class="step-content hidden border-2 border-black divide-y-2 divide-black bg-white">
	<h2 class="text-2xl text-center font-semibold py-6">Choisissez votre type d'hébèrgement</h2>
	<div class="slider select-none">
		<div {{stimulus_controller('swiper')}} class="swiper-container">
			<div
				class="swiper-wrapper">
				{# cards #}
				{% for i in 1..5 %}

					<article data-name="Camping-car" data-price="{{9 + i}}00" data-min-size="2" data-max-size="3" class="swiper-slide hebergement-card group max-w-sm border-black border rounded-lg shadow cursor-pointer relative [&_*]:pointer-events-none
                    hover:active">
                        <div class="overlay absolute bg-main-500 w-full h-full opacity-0"></div>
						<img class="rounded-t-lg" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2019/04/IMG_5183-1024x683.jpg" alt=""/>
						<div class="p-5 relative">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Camping-car</h5>
							<p class="mb-3 font-normal text-gray-700">
								<span class="size">2/6 personnes</span>
								<br>
								<span class="amount">9/12 emplacements</span>
							</p>
							<div class="price absolute right-4 bottom-4 text-2xl">{{ 9 + i }}€/nuit</div>
						</div>
					</article>


				{% endfor %}
			</div>


			<!-- scrollbar -->
			<div class="swiper-scrollbar"></div>

			<!-- buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</article>
