{% extends 'base.html.twig' %}

{% block title %}
	Reservation
{% endblock %}

{% block body %}


	<section class="title">
		<h1>Espace réservation</h1>
	</section>

	{# ! Conteneur d'étapes #}
	<section
		{{ stimulus_controller('step') }} id="step-container" class="my-6 [&>article]:mx-[15%]">
		{# ! Etape 1 : Durée du séjour #}
		{% include "reservation/etape1.html.twig" %}
		{# ! Etape 2 : Type d'hébérgement #}
		{% include "reservation/etape2.html.twig" %}
		{# ! Etape 3 : Emplacement #}
		{% include "reservation/etape3.html.twig" %}
		{# ! Etape 4 : Options #}
		{% include "reservation/etape4.html.twig" %}
		{# ! Etape 5 : Recapitulatif #}
		{% include "reservation/etape5.html.twig" %}
		{# ! Etape 6 : Paiement #}
		{% include "reservation/etape6.html.twig" %}

		{# !! BOUTONS NAVIGATION #}
		<section id="nav-buttons" class="mt-12 mx-[15%] flex justify-between">
			<button {{ stimulus_target('step', 'previous') }} class="button" disabled>Précédent</button>
			<button {{ stimulus_target('step', 'next') }} class="button">Suivant</button>
		</section>
		{# !!!! PROGRESS BAR !!!! #}
		<section {{ stimulus_target('step', 'progress') }} id="progress" class="flex mx-0 my-20 gap-16 justify-center">
			<ol class="items-center space-y-4 sm:flex sm:space-x-12 sm:space-y-0 text-lg">
				<li class="progress-item before">
					<span>1</span>
					<div class="">
						<p class="details"></p>
						<h3>Durée du séjour</h3>
					</div>
				</li>
				<li class="progress-item">
					<span>2</span>
					<div>
						<p class="details"></p>
						<h3>Type d'hébérgement</h3>
					</div>
				</li>
				<li class="progress-item">
					<span>3</span>
					<div>
						<p class="details"></p>
						<h3>Choix de l'emplacement</h3>
					</div>
				</li>
				<li class="progress-item">
					<span>4</span>
					<div>
						<p class="details"></p>
						<h3>Options supplémentaires</h3>
					</div>
				</li>
				<li class="progress-item">
					<span>5</span>
					<div>
						<p class="details"></p>
						<h3>Récapitulatif</h3>
					</div>
				</li>
				<li class="progress-item hidden">
					<span>6</span>
					<div>
						<p class="details"></p>
						<h3>Paiement</h3>
					</div>
				</li>
			</ol>
			<div id="order-button" class="flex flex-col justify-center">
				<button class="button" disabled>Réserver</button>
				<div>Montant :
					<span id="current-price">0</span>€</div>
			</div>

		</section>
	</section>


{% endblock %}
