<nav class="flex justify-between bg-main-100 items-center px-12">
    <section id="goback">Retour au site</section>
    <section id="logo" class="grid">
        <img class="mx-auto" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2020/01/logo-camping.png" alt="logo">
        {# <img class="" src="https://static.vecteezy.com/system/resources/thumbnails/024/553/676/small/skull-wearing-crown-logo-skull-king-sticker-pastel-cute-colors-generative-ai-png.png" alt="logo"> #}
    </section>
    <section id="account">Mon compte client</section>
</nav>