<nav class="flex justify-between border-b-2 bg-main-50  border-main-500 items-center px-12 py-1">
    <section id="goback">
    <a href="" class="underline italic">
    <i class="fa fa-arrow-left"></i>
    Retour au site
    </a>
    </section>
    <section id="logo" class="grid">
        <img class="mx-auto" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2020/01/logo-camping.png" alt="logo">
        {# <img class="" src="https://static.vecteezy.com/system/resources/thumbnails/024/553/676/small/skull-wearing-crown-logo-skull-king-sticker-pastel-cute-colors-generative-ai-png.png" alt="logo"> #}
    </section>
    <section id="account" class="relative">
        <a href={{ path('app_login') }} class="overlay"></a>
        <button class="button"><i class="fa fa-user-circle"></i> Mon compte client</button>
    </section>
</nav>