{% extends 'admin/base.html.twig' %}
{% import 'admin/macro/crud.html.twig' as crud %}
{% import 'admin/macro/crud_tables.html.twig' as tables %}

{% block title %}
	Caisse du jour
{% endblock %}

{% block body %}
	<div class="space-y-12">
		<div class="text-center">
			<h1 class="text-3xl font-black">Caisse du 14/07/2003</d>
		</div>
		<!-- ! date du jour -->
		<div class="flex justify-between">
			<form class="inline-flex gap-4">
				<input type="date" name="date" value="2003-07-14">
				<button type="submit" class="rounded-sm justify-center bg-primary py-2 px-10 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
					Changer de jour</button>
			</form>
			<div class="text-end">
				<h4 class="text-lg">22 réservations</h4>
				<a href="#" class="text-meta-5 gap-1 text-sm font-medium underline-animation hover:text-opacity-80">Voir tous les paiements</a>
			</div>
		</div>

		<!-- ! Arrivées attendues -->
		{{ crud.basic("Paiements en Carte bancaire", tables.paiements('CB')) }}

		<!-- ! Départs attendues -->
		{{ crud.basic("Paiements en Espèce", tables.paiements('ESPECE')) }}

		<!-- ! Réservations en cours -->
		{{ crud.basic("Paiements en Chèques Vacances", tables.paiements('VACANCE')) }}
	{% endblock %}
