{% extends 'layout/form.html.twig' %}

{% set title = "Hébergement" %}

{% block title %}
	{{ title }}
{% endblock %}


{% block form %}
			{{ form_start(form) }}
			{{form_widget(form) }}
			<button type="submit" class="btn w-full btn-md rounded-md ">Valider</button>
			{{ form_end(form) }}

{% endblock %}
