{% extends 'admin/settings/base.html.twig' %}

{% set title = "Ajout Hébergement" %}

{% block title %}
	{{ title }}
{% endblock %}


{% block body %}

	<div class="text-center">
		<h1 class="text-3xl font-black">
			{{ title }}
		</h1>
	</div>


{% endblock %}
