<article data-step class="step-content hidden border-2 border-stroke shadow-default divide-y-2 divide-stroke bg-white">
	<h2 class="text-2xl text-center font-semibold py-6">Récapitulatif
		<span></span>
	</h2>
	{# <section class="py-10 px-[5%] space-y-4"> #}
	<div class="relative overflow-x-auto">
		<div class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
			<section id="recap" class="flex flex-col">
				<div class="grid grid-cols-3 rounded-sm bg-gray-2 dark:bg-meta-4 sm:grid-cols-4">
					<div class="p-2.5  xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Description</h5>
					</div>
					<div class="p-2.5 text-center xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Quantité</h5>
					</div>
					<div class="hidden p-2.5 text-center sm:block xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Prix unitaire</h5>
					</div>
					<div class="hidden p-2.5 text-center sm:block xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Prix total</h5>
					</div>
				</div>
				<div class="p-2.5 xl:p-5 bg-gray-50 border-t">Hébergement</div>
				<div class="grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Nuits Camping-car
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white">5</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">10€</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">50€</p>
					</div>
				</div>
				{# début ligne #}
				<div class="grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Adultes
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white">2</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">4.00€ x 6 nuits</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">40.00€</p>
					</div>
				</div>
				{# fin ligne #}

				{# début ligne #}
				<div class="grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Enfants
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white">2</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">2.30€ x 6 nuits</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">13.80€</p>
					</div>
				</div>
				{# fin ligne #}
				{# début total #}
				<div class="border-t grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4 bg-gray-200">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Total hébérgement
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5 border-t border-black">
						<p class="font-medium text-black dark:text-white">105€</p>
					</div>
				</div>
				{# fin total #}
				<div class="p-2.5 xl:p-5 bg-gray-50 border-t">Options</div>
				{# début ligne #}
				<div class="grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Électricité
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white">1</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">10.00€ x 6 nuits</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">60.00€</p>
					</div>
				</div>
				{# fin ligne #}

				{# début ligne #}
				<div class="grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Déjeuner
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white">1</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">10.00€ x 6 nuits x 3 personnes</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">180.00€</p>
					</div>
				</div>
				{# fin ligne #}

				{# début ligne #}
				<div class="grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Garage Mort
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white">1</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">10.00€</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">10.00€</p>
					</div>
				</div>
				{# fin ligne #}
				{# début total #}
				<div class="border-t grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4 bg-gray-200">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Total options
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5 border-t border-black">
						<p class="font-medium text-black dark:text-white">105€</p>
					</div>
				</div>
				{# fin total #}

				<div class="p-2.5 xl:p-5 bg-gray-50 border-t">Réductions</div>
				{# début ligne #}
				<div class="grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Remise du moment
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">Remise d'été (5%)</p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">- 9.25€</p>
					</div>
				</div>
				{# fin ligne #}

				{# début ligne #}
				<div class="grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Coupon de réduction
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white">- 0.00€</p>
					</div>
				</div>
				{# fin ligne #}

				{# début total #}
				<div class="border-t grid grid-cols-3  border-stroke dark:border-strokedark sm:grid-cols-4 bg-gray-200">
					<div class="flex items-center gap-3 p-2.5 xl:p-5">
						<p class="hidden font-medium text-black dark:text-white sm:block">
							Total réductions
						</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
						<p class="font-medium text-black dark:text-white"></p>
					</div>

					<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5 border-t border-black">
						<p class="font-medium text-black dark:text-white">- 105€</p>
					</div>
				</div>
				{# fin total #}

				<div class="grid grid-cols-3 border-t border-black  dark:border-strokedark sm:grid-cols-4 text-xl">
					<div class="flex items-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white">Total TTC</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white"></p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white"></p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white">175.75€</p>
					</div>
				</div>
			</section>
		</div>
	</div>
	{# </section> #}
</article>
