{# ! Etape 1 : Durée du séjour #}
<article data-step class="step-content hidden border-2 border-stroke shadow-default bg-white divide-y-2 divide-stroke">
	<h2 class="text-2xl text-center font-semibold py-6">Choisissez votre emplacement pour :
		<span></span>
	</h2>
	{# ! Date du séjour #}
	<div class="grid grid-cols-3 place-items-center py-14 px-[5%] gap-y-12">
		<section class="w-full grid">
			<div class="mb-4">
				<select class="w-full" multiple name="tags" id="tags">
					<option value="">A l'ombre</option>
					<option value="">Ensolleilé</option>
					<option value="">Accès handicapés</option>
					<option value="">Proches WC</option>
				</select>
			</div>
			<button {{ stimulus_action('step','chooseEmplacement') }} class="button">Choisir par tags</button>
		</section>
		<section class="w-full grid place-items-center select-none uppercase text-xl">
			<p>Ou</p>
		</section>
		<section class="w-full grid">
			<button class="button">Ouvrir la carte</button>
		</section>
		<div class="w-full col-span-3 text-xl">
			<p>Emplacement numéro : <span class="emplacement-number">12</span></p>
			<p>Tags : <span class="emplacement-tags">A l'ombre</span></p>
		
		</div>
	</div>

</article>
