{# ! Etape 1 : Durée du séjour #}
<article data-step class="step-content hidden border-2 border-stroke shadow-default divide-y-2 divide-stroke bg-white">
	<h2 class="text-2xl text-center font-semibold py-6">Choisissez vos options suplémentaires
		<span></span>
	</h2>
	{# ! Date du séjour #}
	<div class=" py-10 px-[5%] space-y-4">
		<article data-price="1000" data-per-night="true" data-per-person="false" class="option flex gap-8 justify-between items-center">
			<div>
				<input class="" type="checkbox" name="Électricité" id="">
				<label class="text-lg ml-2" for="Électricité">Électricité</label>
			</div>
			<div class=" bg-bodydark h-0.5 grow"></div>
			<div class="text-[0px]">
				<p>
					<span class="text-lg font-bold">10€</span>
					{# <span class="text-base">/personne</span> #}
					{# <span class="text-base">/unité</span> #}
					<span class="text-base">/jour</span>
				</p>
			</div>
		</article>

		<article data-price="1000" data-per-night="true" data-per-person="true" class="option flex gap-8 justify-between items-center">
			<div>
				<input class="" type="checkbox" name="Déjeuner" id="">
				<label class="text-lg ml-2" for="Déjeuner">Déjeuner</label>
			</div>
			<div class=" bg-bodydark h-0.5 grow"></div>
			<div class="text-[0px]">
				<p>
					<span class="price text-lg font-bold">10€</span>
					<span class="text-base">/personne</span>
					{# <span class="text-base">/unité</span> #}
					<span class="text-base">/jour</span>
				</p>
			</div>
		</article>


		<article data-price="1000" data-per-night="false" data-per-person="false" class="option flex gap-8 justify-between items-center">
			<div>
				<input class="" type="checkbox" name="Garage mort" id="">
				<label class="text-lg ml-2" for="Garage mor">Garage mort</label>
			</div>
			<div class=" bg-bodydark h-0.5 grow"></div>
			<div class="text-[0px]">
				<p>
					<span class="text-lg font-bold">10€</span>
					{# <span class="text-base">/personne</span> #}
				{# <span class="text-base">/unité</span> #}
					{# <span class="text-base">/jour</span> #}
				</p>
			</div>
		</article>
		<article data-price="1000" data-per-night="false" data-per-person="false" class="option flex gap-8 justify-between items-center">
			<div>
				<input type="number" min="0" max="2" name="animaux" id="" class="max-w-20 text-center border-2 rounded" value="0" placeholder="0">
				<label class="text-lg ml-2" for="animaux">Animaux</label>
			</div>
			<div class=" bg-bodydark h-0.5 grow"></div>
			<div class="text-[0px]">
				<p>
					<span class="text-lg font-bold">10€</span>
					{# <span class="text-base">/personne</span> #}
					<span class="text-base">/unité</span>
					{# <span class="text-base">/jour</span> #}
				</p>
			</div>
		</article>
	</div>

</article>
