@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@layer base {
    :root {
        /* ! colors !*/
        --50: #f2fbf4;
        --100: #e2f6e6;
        --200: #c6ecce;
        --300: #9adbaa;
        --400: #66c27c;
        --500: #41a659;
        --600: #35944c;
        --700: #296c3a;
        --800: #255632;
        --900: #20472a;
        --950: #0d2614;

        /* ! swiper scrollbar */
        --swiper-scrollbar-bg-color: var(--400);
        --swiper-scrollbar-drag-bg-color: var(--800);
        --swiper-scrollbar-size: 8px;
        /* ! swiper navigation */
        --swiper-navigation-color: var(--400);
    }

    html {
        scroll-behavior: smooth;
        /* background-image: url(https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg); */
        /* background-image: url(https://coolbackgrounds.io/images/backgrounds/white/white-radial-gradient-a5802da1.jpg); */
        background-size: cover;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

@layer components {

    /* ! boutons */
    .inactive-button {
        @apply px-4 py-2 bg-white text-main-500 border-main-500 border
    }

    .inactive-button:hover {
        @apply button
    }

    .inactive-button:disabled {
        @apply border-main-200 text-main-200 pointer-events-none
    }

    .button {
        @apply px-4 py-2 bg-main-500 text-white border border-main-500;
    }

    .button:hover {
        @apply bg-main-600;
    }

    .button:active {
        @apply bg-main-700;
    }

    .button:disabled {
        @apply bg-main-200 text-main-700;
    }



    /* ! progress bar */
    .progress-item {
        @apply flex items-center text-gray-500 space-x-2.5 [&>*]:pointer-events-none;
    }

    .progress-item.done {
        @apply text-main-600 cursor-pointer;
    }

    .progress-item span {
        @apply flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0;
    }

    .progress-item.done span {
        @apply border-main-600;
    }

    .progress-item div h3 {
        @apply font-medium leading-tight;
    }

    .progress-item div {
        @apply relative;
    }

    .progress-item div p {
        @apply text-sm italic absolute bottom-6;
    }

    /* ! card type d'emplacement ! */
    .hebergement-card.active {
        border-color: var(--500);
    }

    .hebergement-card.active .overlay {
        opacity: 10%
    }
}

@layer utilities {
    .title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    .title h1 {
        padding: 2rem;
    }

    /* ! slider ! */
    .slider {
        position: relative;
        padding: 3rem;
    }

    .slider>div {
        overflow: hidden;
    }

    .custom-select2 {
        @apply !mt-1 !block !w-full !py-2 text-base !rounded-md !border-gray-300 !shadow-sm focus:border-green-200 focus:ring focus:ring-green-200 focus:ring-opacity-50;
    }
    .select2 {
        width: 100% !important
    }

    /* ! input/label */

    .floating-input {
        @apply block pointer-events-auto px-2.5 pb-2.5 pt-4 text-lg text-gray-900 border w-full appearance-none focus:outline-none focus:ring-0 focus:border-main-600
    }

    .floating-label {
        @apply absolute pointer-events-none select-none text-base text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-main-600 peer-focus:dark:text-main-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1
    }
}