{% extends 'admin/base.html.twig' %}
{% import 'admin/macro/crud_tables.html.twig' as crud %}


{% block title %}
	Clients
{% endblock %}

{% set title = 'Clients' %}
{% set tooltip = 'Tous les utilisateurs avec le rôle client' %}
{% set search_placeholder = 'Rechercher un client...' %}

{% set table %}
<table>
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">
				Nom<br>
				Prénom</th>
			<th scope="col">Email</th>
			<th scope="col">Téléphone</th>
			<th scope="col">Adresse</th>
			<th scope="col">Réservations</th>
			<th scope="col">Création</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for i in 0..5 %}
			<tr>
				<th scope="row">
					1430
				</th>
				<td>
					BELLILA
					<br>
					Nabil
					<br>
				</td>
				<td>
					bellilanabil8@gmail.com
				</td>
				<td>
					06.38.05.89.97
				</td>
				<td>
					17 rue des tilleuls
					<br>
					08000, Villers-Semeuse,
					<br>
					France
				</td>
				<td>
					<div>
						2 réservations
						<br>
						<a href="" class="details">Voir les détails</a>
					</div>
				</td>
				<td>
					14/07/2003
					<br>
					14h57
				</td>
				<td class="">
					<div class="grid gap-2">
						{% set id = i %}
						{{ crud.updateButton(id) }}
						{{ crud.deleteButton(id) }}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endset %}

{% block body %}
	{{ crud.fullTable(title,tooltip, search_placeholder,table) }}
{% endblock %}
