{% extends "admin/settings/base.html.twig" %}
{% set isAddForm = create is defined ? create : true %}

{% block pretitle %}
	{{ isAddForm ? "Ajout" : "Modification" }}
	|
{% endblock %}


{% block body %}

	<div class="text-center">
		<h1 class="text-3xl font-black">
			{{ isAddForm ? "Ajout" : "Modification" }}
			{{ title }}
		</h1>
	</div>

	<section class="crud grid mt-8">
		<div class="space-y-3 md:space-y-0 md:space-x-4 p-8">

			{% block form %}{% endblock %}


		</div>
	</section>


{% endblock %}

{% block scripts %}

	<script>
		document.addEventListener('turbo:load', () => {
$('select[multiple]').select2({closeOnSelect: false, language: 'fr', });
});
	</script>
{% endblock %}
