{% extends 'admin/settings/base.html.twig' %}
{% import 'admin/macro/dashboard_cells.html.twig' as cell %}


{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<!-- ! card items -->
	<div class="2xl:gap-7.5 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6">
		<div class="col-span-full">
			<h2>
				Administrations
			</h2>
		</div>

		<!-- Card Item Start -->
		<div class="basic-card px-7.5 py-4">
		</div>

	</div>

{% endblock %}
